/*
Theme Name: freethemes4you_polit_01_1
Description: freethemes4you_polit_01_1, FreeThemes4You-generated Drupal theme.
Version: 1.0
Author: FreeThemes4You
Author URI: http://freethemes4you.com/
*/

/* begin Page */
/* Created by FreeThemes4You v3.0.0.33215 */
@font-face{
 font-family: Caslon; src: url('fonts/ACaslonPro-Italic.otf'); 
}
@font-face{
 font-family: Avant; src: url('fonts/ITC Avant Garde Gothic LT Medium.ttf'); 
}
@font-face{
 font-family: Georgia; src: url('fonts/georgia.ttf'); 
}
#post-post-card .body-field-wrapper{
  display: none;
}
.addthis_toolbox{
 margin: auto;
width: 40px; 
}
#edit-field-name-0-value, #edit-field-city-0-value, #edit-field-email-0-value, #edit-field-phone-0-value, #edit-field-state-0-value{
  width: 920px;
}
#art-logo a{
 text-decoration: none;
 border: none;
}
.node-unpublished{
 background-color: #fff; 
}

.art-footer-body{
 display: none; 
}

#post-card{
  width: 200px;
  height: 250px;
 background: url('images/postcard.jpg'); 
}
#contact-table{
 border: none;
 width: 400px;
 margin: auto;
}
#contact-table tr td{
  border: none;
}
#electronic{
  width: 200px;
  height: 250px;
 background: url('images/electronic.jpg'); 
}
#art-main, table
{
    font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

#ae{
 color: #fff;
 text-align: center;
 font-size: 32px;
 font-family: Avant;
}
#ae a{
 color: #fff;
 text-decoration: none;
}
#presents{
   color: #fff;
 text-align: center;
 font-size: 24px;
 font-family: Georgia;
  
}

.help{
 font-size: 18px;
/*  padding: 20px; */
 padding-bottom: 0px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
    margin: 0;
    padding: 0;
}

body
{
  margin: 0 auto;
  padding: 0;
  color: #333;
  background-color: #E0E0E0;
  background-image: url('images/Bottom_texture.jpg');
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top left;
   font-family: Georgia;
}

.art-postcontent,
.art-postcontent li,
.art-postcontent table,
.art-postcontent a,
.art-postcontent a:link,
.art-postcontent a:visited,
.art-postcontent a.visited,
.art-postcontent a:hover,
.art-postcontent a.hovered
{
    font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
}

.art-postcontent p
{
    margin: 12px 0 12px 0;
}

h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited,
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
{
    font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  text-align: left;
}

.art-postcontent a
{
  text-decoration: underline;
  color: #595959;
}

.art-postcontent a:link
{
  text-decoration: underline;
  color: #595959;
}

.art-postcontent a:visited, .art-postcontent a.visited
{

  color: #595959;
}

.art-postcontent  a:hover, .art-postcontent a.hover
{

  text-decoration: none;
  color: #757575;
}


.art-postcontent h1
{
   margin: 12px 0 12px 0; 
   color: #595959;
 
}

.art-postcontent h2
{
    color: #595959;
   margin: 13px 0 13px 0; 
   font-size: 18px;   
}

.art-postcontent h3
{
   margin: 16px 0 16px 0; 
  color: #595959; 
  font-size: 18px;    
}

.art-postcontent h4
{
   margin: 18px 0 18px 0; 
   color: #42290F; 
   font-size: 15px;   
}

.art-postcontent h5
{
   margin: 20px 0 20px 0; 
   color: #42290F;   
   font-size: 13px;
}

.art-postcontent h6
{
   margin: 25px 0 25px 0; 
   color: #42290F;
   font-size: 12px;      
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

#art-main
{
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  cursor:default;
}




.cleared
{
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 1px;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}


/* Image Assist module support */
body.img_assist
{
	background-color: #E0E0E0 !important;
	color: #292929;
}
/* end Page */

/* begin Box, Sheet */
.art-sheet
{
  position: relative;
  margin: 0 auto;
  min-width: 43px;
  min-height: 43px;
}

.art-sheet-body
{
  position: relative;
  padding: 11px;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl, .art-sheet-tc, .art-sheet-bc,.art-sheet-cr, .art-sheet-cl
{
  position: absolute;
}

.art-sheet-tr, .art-sheet-tl, .art-sheet-br, .art-sheet-bl
{
  width: 62px;
  height: 62px;
  background-image: url('images/sheet_s.png');
}

.art-sheet-tl
{
  top: 0;
  left: 0;
  clip: rect(auto, 31px, 31px, auto);
}

.art-sheet-tr
{
  top: 0;
  right: 0;
  clip: rect(auto, auto, 31px, 31px);
}

.art-sheet-bl
{
  bottom: 0;
  left: 0;
  clip: rect(31px, 31px, auto, auto);
}

.art-sheet-br
{
  bottom: 0;
  right: 0;
  clip: rect(31px, auto, auto, 31px);
}

.art-sheet-tc, .art-sheet-bc
{
  left: 31px;
  right: 31px;
  height: 62px;
  background-image: url('images/sheet_h.png');
}

.art-sheet-tc
{
  top: 0;
  clip: rect(auto, auto, 31px, auto);
}

.art-sheet-bc
{
  bottom: 0;
  clip: rect(31px, auto, auto, auto);
}

.art-sheet-cr, .art-sheet-cl
{
  top: 31px;
  bottom: 31px;
  width: 62px;
  background-image: url('images/sheet_v.png');
}

.art-sheet-cr
{
  right: 0;
  clip: rect(auto, auto, auto, 31px);
}

.art-sheet-cl
{
  left: 0;
  clip: rect(auto, 31px, auto, auto);
}

.art-sheet-cc
{
  position: absolute;
  top: 31px;
  left: 31px;
  right: 31px;
  bottom: 31px;
  background-color: #FFFFFF;
}

.art-sheet
{
  top: 50px !important;
  margin-bottom: 50px !important;
  cursor:auto;
  width: 1008px;
}


/* end Box, Sheet */

/* begin Header */
div.art-header
{
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 170px;
  overflow: hidden;
}


div.art-header-center
{
	position: relative;
	width: 986px;
	left:50%;
}


div.art-header-png
{
  position: absolute;
  left:-50%;
  top: 0;
  width: 986px;
  height: 170px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position:center center; 
  border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-khtml-border-top-left-radius: 10px;
border-top-right-radius: 10px;
-moz-border-radius-topright: 10px;
-khtml-border-top-right-radius: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
}

div.art-header-jpeg
{
  position: absolute;
  top: 0;
  left:-50%;
  width: 986px;
  height: 170px;
  background-image: url('images/header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-khtml-border-top-left-radius: 10px;
border-top-right-radius: 10px;
-moz-border-radius-topright: 10px;
-khtml-border-top-right-radius: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px
}


/* end Header */

/* begin Logo */
div.art-logo
{
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 966px;
  border-top-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-khtml-border-top-left-radius: 10px;
border-top-right-radius: 10px;
-moz-border-radius-topright: 10px;
-khtml-border-top-right-radius: 10px;
-webkit-border-top-left-radius: 10px;
-webkit-border-top-right-radius: 10px;
}

h1.art-logo-name
{
  display: block;
  text-align: center;
   font-family: "Caslon";
}

h1.art-logo-name, h1.art-logo-name a, h1.art-logo-name a:link, h1.art-logo-name a:visited, h1.art-logo-name a:hover
{
  font-size: 64px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
   font-family: "Caslon";
}


h2.art-logo-text, 
h2.art-logo-text a,
h2.art-logo-text a:link,
h2.art-logo-text a:visited,
h2.art-logo-text a:hover
{
  font-size: 17px;
  padding: 0;
  margin: 0;
  color: #FFFFFF !important;
}

h2.art-logo-text
{
  display: block;
  text-align: left;
}
/* end Logo */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
    outline: none;
}

.art-menu, .art-menu ul
{
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  display: block;
}

.art-menu li
{
  margin: 0;
  padding: 0;
  border: 0;
  display: block;
  float: left;
  position: relative;
  z-index: 5;
  background: none;
}

.art-menu li:hover
{
  z-index: 10000;
  white-space: normal;
}

.art-menu li li
{
  float: none;
}

.art-menu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background: none;
}

.art-menu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.art-menu li li:hover>ul
{
  top: 0;
  left: 100%;
}

.art-menu:after, .art-menu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.art-menu, .art-menu ul
{
  min-height: 0;
}

.art-menu ul
{
  background-image: url('images/spacer.gif');
  padding: 10px 30px 30px 30px;
  margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
  padding: 30px 30px 30px 10px;
  margin: -30px 0 0 -10px;
}




/* menu structure */

.art-menu
{
  padding: 6px 6px 6px 6px;
}

.art-nav
{
  position: relative;
  min-height: 43px;
  z-index: 100;
}

.art-nav .l, .art-nav .r
{
  position: absolute;
  z-index: -1;
  top: 0;
  height: 100%;
  background-image: url('images/nav.png');
}

.art-nav .l
{
  left: 0;
  right: 0;
}

.art-nav .r
{
  right: 0;
  width: 986px;
  clip: rect(auto, auto, auto, 986px);
}


/* end Menu */

/* begin MenuItem */
.art-menu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 31px;
  cursor: pointer;
  text-decoration: none;
}


.art-menu ul li
{
    margin:0;
    clear: both;
}


.art-menu a .r, .art-menu a .l
{
  position: absolute;
  display: block;
  top: 0;
  z-index: -1;
  height: 103px;
  background-image: url('images/menuitem.png');
}

.art-menu a .l
{
  left: 0;
  right: 10px;
}

.art-menu a .r
{
  width: 420px;
  right: 0;
  clip: rect(auto, auto, auto, 410px);
}

.art-menu a .t, .art-menu ul a, .art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
  text-align: left;
  text-decoration: none;
}

.art-menu a .t
{
  color: #212121;
  padding: 0 13px;
  margin: 0 10px;
  line-height: 31px;
  text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
  top: -36px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
  top: -36px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
  top: -36px;
}
.art-menu a:hover .t
{
  color: #000000;
}

.art-menu li:hover a .t
{
  color: #000000;
}

.art-menu li:hover>a .t
{
  color: #000000;
}


.art-menu a.active .l, .art-menu a.active .r
{
  top: -72px;
}

.art-menu a.active .t
{
  color: #1A1A1A;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-menu .art-menu-li-separator
{
  display: block;
  width: 9px;
  height:31px;
}
.art-nav .art-menu-separator
{
  display: block;
  margin:0 auto;
  width: 1px;
  height: 31px;
  background-image: url('images/menuseparator.png');
}
/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
  display: block;
  text-align: center;
  white-space: nowrap;
  height: 26px;
  width: 180px;
  overflow: hidden;
  line-height: 26px;
  background-image: url('images/subitem.png');
  background-position: left top;
  background-repeat: repeat-x;
  border-width: 1px;
  border-style: solid;
  border-color: #B5B5B5;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
  text-align: left;
  text-indent: 12px;
  text-decoration: none;
  line-height: 26px;
  color: #292929;

  margin:0;
  padding:0;
}

.art-menu ul li a:hover
{
  color: #000000;
  border-color: #B5B5B5;
  background-position: 0 -26px;
}

.art-menu ul li:hover>a
{
  color: #000000;
  border-color: #B5B5B5;
  background-position: 0 -26px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
  color: #000000;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
  color: #000000;
}


/* end MenuSubItem */

/* begin Layout */
.art-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  background-color: Transparent;
  border: none !important;
  padding:0 !important;
}
.art-layout-cell, .art-content-layout-row
{
  background-color: Transparent;
  vertical-align: top;
  text-align: left;
  border: none !important;
  margin:0 !important;
  padding:0 !important;
}
.art-content-layout .art-content-layout{width: auto;margin:0;}
.art-content-layout .art-layout-cell, .art-content-layout .art-layout-cell .art-content-layout .art-layout-cell{display: table-cell;}
.art-layout-cell .art-layout-cell{display: block;}
.art-content-layout-row {display: table-row;}
.art-layout-glare{position:relative;}/* end Layout */

/* begin Box, Block, VMenuBlock */
.art-vmenublock
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublock-body
{
  position: relative;
  padding: 0;
}


.art-vmenublock
{
  margin: 10px;
}



#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 10px;
}

/* end Box, Block, VMenuBlock */

/* begin BlockHeader, VMenuBlockHeader */
.art-vmenublockheader
{
  margin-bottom: 0;
}

.art-vmenublockheader, .art-vmenublockheader h3.t
{
  position: relative;
  height: 25px;
}

.art-vmenublockheader h3.t,
.art-vmenublockheader h3.t a,
.art-vmenublockheader h3.t a:link,
.art-vmenublockheader h3.t a:visited, 
.art-vmenublockheader h3.t a:hover
{
  color: #000000;
  font-size: 13px;
}

.art-vmenublockheader h3.t
{
  margin:0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  line-height: 25px;	
}



.art-vmenublockheader .t h2.subject
{
  height: 25px;
  color: #000000;
  font-size: 13px;
  margin:0;
  white-space: nowrap;
  line-height: 25px;
}

/* end BlockHeader, VMenuBlockHeader */

/* begin Box, Box, VMenuBlockContent */
.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}


.art-vmenublockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-vmenublockcontent-body
{
  position: relative;
  padding: 0;
}


/* end Box, Box, VMenuBlockContent */

/* begin VMenu */
ul.art-vmenu, ul.art-vmenu li
{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}/* end VMenu */

/* begin VMenuItem */
ul.art-vmenu a
{
  position: relative;
  display: block;
  overflow: hidden;
  height: 34px;
  cursor: pointer;
  text-decoration: none;
}

ul.art-vmenu li.art-vmenu-separator
{
  display: block;
  padding: 2px 0 2px 0;
  margin: 0;
  font-size: 1px;
}

ul.art-vmenu .art-vmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  border: none;
}

ul.art-vmenu a .r, ul.art-vmenu a .l
{
  position: absolute;
  display: block;
  top: 0;
  height: 112px;
  background-image: url('images/vmenuitem.png');
}

ul.art-vmenu a .l
{
  left: 0;
  right: 21px;
}

ul.art-vmenu a .r
{
  width: 1002px;
  right: 0;
  clip: rect(auto, auto, auto, 981px);
}

ul.art-vmenu a .t, ul.art-vmenu ul a
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}

ul.art-vmenu a .t
{
  display: block;
  position:relative;
  top:0;
  line-height: 34px;
  color: #4A4A4A;
  padding: 0 10px 0 26px;
  margin-left:0;
  margin-right:0;
}

ul.art-vmenu a.active .l, ul.art-vmenu a.active .r
{
  top: -78px;
}

ul.art-vmenu a.active .t
{
  color: #7C4D1D;
}

ul.art-vmenu a:hover .l, ul.art-vmenu a:hover .r
{
  top: -39px;
}

ul.art-vmenu a:hover .t
{
  color: #4D4D4D;
}


/* end VMenuItem */

/* begin VMenuSubItem */
ul.art-vmenu ul, ul.art-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.art-vmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 20px;
  overflow: visible;
  background-image: url('images/vsubitem.gif');
  background-position: 15px 0;
  background-repeat: repeat-x;
  padding-left: 33px;
}

ul.art-vmenu ul li
{
  padding: 0;
}

ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  display: inline;
  float: none;
  margin: inherit;
  padding: inherit;
  background-image: none;
  text-align: inherit;
  text-decoration: inherit;
}

ul.art-vmenu ul a, ul.art-vmenu ul a:link, ul.art-vmenu ul a:visited, ul.art-vmenu ul a:hover, ul.art-vmenu ul a:active, ul.art-vmenu ul span, ul.art-vmenu ul span span
{
  line-height: 20px;
  color: #363636;
  font-size: 11px;
  margin-left: 0;
}

ul.art-vmenu ul
{
    margin:0 2px 0 2px;
}

ul.art-vmenu ul ul
{
  margin:0 0 0 0;
}

ul.art-vmenu ul li.art-vsubmenu-separator
{ 
  display: block;
  margin: 0;
  font-size: 1px;
  padding: 0 0 0 0;
 }

ul.art-vmenu ul .art-vsubmenu-separator-span
{
  display: block;
  padding: 0;
  font-size: 1px;
  height: 0;
  line-height: 0;
  margin: 0;
  border: none;
}

ul.art-vmenu ul li.art-vmenu-separator-first
{
    padding-bottom:2px;
}

ul.art-vmenu ul li li a
{
  background-position: 30px 0;
  padding-left: 48px;
}

ul.art-vmenu ul li li li a
{
  background-position: 45px 0;
  padding-left: 63px;
}

ul.art-vmenu ul li li li li a
{
  background-position: 60px 0;
  padding-left: 78px;
}

ul.art-vmenu ul li li li li li a
{
  background-position: 75px 0;
  padding-left: 93px;
}


ul.art-vmenu ul li a.active
{
  color: #363636;
  background-position: 15px -50px;
}

ul.art-vmenu ul li li a.active
{
  background-position: 30px -50px;
}

ul.art-vmenu ul li li li a.active
{
  background-position: 45px -50px;
}

ul.art-vmenu ul li li li li a.active
{
  background-position: 60px -50px;
}

ul.art-vmenu ul li li li li li a.active
{
  background-position: 75px -50px;
}



ul.art-vmenu ul li a:hover, ul.art-vmenu ul li a:hover.active
{
  color: #1F1F1F;
  background-position: 15px -25px;
}


ul.art-vmenu ul li li a:hover, ul.art-vmenu ul li li a:hover.active
{
  background-position: 30px -25px;
}

ul.art-vmenu ul li li li a:hover, ul.art-vmenu ul li li li a:hover.active
{
  background-position: 45px -25px;
}

ul.art-vmenu ul li li li li a:hover, ul.art-vmenu ul li li li li a:hover.active
{
  background-position: 60px -25px;
}

ul.art-vmenu ul li li li li li a:hover, ul.art-vmenu ul li li li li li a:hover.active
{
  background-position: 75px -25px;
}
/* end VMenuSubItem */

/* begin Box, Block */
.art-block
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-block-body
{
  position: relative;
  padding: 0;
}


.art-block
{
  margin: 10px;
}



#banner1, #banner2, #banner3, #banner4, #banner5, #banner6
{
  margin: 10px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-blockheader
{
  margin-bottom: 0;
}

.art-blockheader, .art-blockheader h3.t
{
  position: relative;
  height: 25px;
}

.art-blockheader h3.t,
.art-blockheader h3.t a,
.art-blockheader h3.t a:link,
.art-blockheader h3.t a:visited, 
.art-blockheader h3.t a:hover
{
  color: #000000;
  font-size: 13px;
}

.art-blockheader h3.t
{
  margin:0;
  padding: 0 10px 0 10px;
  white-space: nowrap;
  line-height: 25px;	
}



.art-blockheader .t h2.subject
{
  height: 25px;
  color: #000000;
  font-size: 13px;
  margin:0;
  white-space: nowrap;
  line-height: 25px;
  font-weight: bold;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-blockcontent
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-blockcontent-body
{
  position: relative;
  padding: 5px;
}


.art-blockcontent-body, 
.art-blockcontent-body li, 
.art-blockcontent-body a,
.art-blockcontent-body a:link,
.art-blockcontent-body a:visited,
.art-blockcontent-body a:hover
{
  color: #363636;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-size: 12px;
}

.art-blockcontent-body p
{
  margin: 6px 0 6px 0;
}

.art-blockcontent-body a
{
  color: #696969;
  text-decoration: underline;
}

.art-blockcontent-body a:link
{
  color: #696969;
  text-decoration: underline;
}

.art-blockcontent-body a:visited, .art-blockcontent-body a.visited
{
  color: #828282;

}

.art-blockcontent-body a:hover, .art-blockcontent-body a.hover
{
  color: #696969;

  text-decoration: none;
}

.art-blockcontent-body ul li
{
  line-height: 125%;    
  color: #474747;

  padding: 0 0 0 14px;
  background-image: url('images/blockcontentbullets.png');
  background-repeat: no-repeat;
}

.art-blockcontent-body .calendar-calendar td a:visited, .art-blockcontent-body .calendar-calendar td a.visited
{
  color: #696969;
}

.art-blockcontent-body .links li
{
  background-image: none;
  display: block;
}

.art-blockcontent-body .calendar-calendar td a:hover
{
  text-decoration: underline;
}

.art-blockcontent-body table td.mini a
{
  font-weight: normal;
}

.art-blockcontent-body table td div.mini-day-on a
{
  text-decoration: underline;
}

.art-blockcontent-body .calendar-calendar td a
{
  text-decoration: none;
}
/* end Box, BlockContent */

/* begin Button */
.art-button-wrapper a.art-button,
.art-button-wrapper a.art-button:link,
.art-button-wrapper input.art-button,
.art-button-wrapper button.art-button
{
  text-decoration: none;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  position:relative;
  top:0;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #000000 !important;
  width: auto;
  outline: none;
  border: none;
  background: none;
  line-height: 37px;
  height: 37px;
  margin: 0 !important;
  padding: 0 26px !important;
  overflow: visible;
  cursor: pointer;
}

.art-button img, .art-button-wrapper img
{
  margin: 0;
  vertical-align: middle;
}

.art-button-wrapper
{
  vertical-align: middle;
  display: inline-block;
  position: relative;
  height: 37px;
  overflow: hidden;
  white-space: nowrap;
  width: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.firefox2 .art-button-wrapper
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
}

.art-block select 
{
    width:96%;
}

.art-button-wrapper.hover .art-button, .art-button-wrapper.hover a.art-button:link, .art-button:hover
{
  color: #000000 !important;
  text-decoration: none !important;
}

.art-button-wrapper.active .art-button, .art-button-wrapper.active a.art-button:link
{
  color: #1A1A1A !important;
}

.art-button-wrapper .art-button-l, .art-button-wrapper .art-button-r
{
  display: block;
  position: absolute;
  height: 121px;
  margin: 0;
  padding: 0;
  background-image: url('images/button.png');
}

.art-button-wrapper .art-button-l
{
  left: 0;
  right: 19px;
}

.art-button-wrapper .art-button-r
{
  width: 427px;
  right: 0;
  clip: rect(auto, auto, auto, 408px);
}

.art-button-wrapper.hover .art-button-l, .art-button-wrapper.hover .art-button-r
{
  top: -42px;
}

.art-button-wrapper.active .art-button-l, .art-button-wrapper.active .art-button-r
{
  top: -84px;
}

.art-button-wrapper input
{
  float: none !important;
}
/* end Button */

/* begin Box, Post */
.art-post
{
  position: relative;
  margin: 0 auto;
  min-width: 1px;
  min-height: 1px;
}

.art-post-body
{
  position: relative;
  padding: 10px;
}


.art-post
{
  margin: 0;
}

a img
{
  border: 0;
}

.art-article img, img.art-article
{
  border: solid 0 #C7C7C7;
  margin: 7px;
}

.art-metadata-icons img
{
  border: none;
  vertical-align: middle;
  display: none;
  margin: 2px;
}

.art-article table, table.art-article
{
  border-collapse: collapse;
  margin: 1px;
}

.art-article th, .art-article td
{
  padding: 2px;
  border: solid 1px #B5B5B5;
  vertical-align: top;
  text-align: left;
}

.art-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}



fieldset
{
  margin: 1em 0;
  padding: 1em;
  border: solid 1px #B5B5B5;
  width: 95%;
}

/* BEGIN Flatcomments module support */

.comment-folded
{
	margin: 0;
}

#comments .box span.art-button-wrapper
{
	margin: 0;
}

#comments .art-postcontent, #comments .art-postcontent p
{
	text-align: left;
}

/* END Flatcomments module support */
/* end Box, Post */

/* begin PostHeaderIcon */
h2.art-postheader
{
  color: #404040;
  margin: 3px 0 3px 0;
  display: none;
}

h2.art-postheader, 
h2.art-postheader a, 
h2.art-postheader a:link, 
h2.art-postheader a:visited,
h2.art-postheader a.visited,
h2.art-postheader a:hover,
h2.art-postheader a.hovered
{
  font-size: 18px;
}

h2.art-postheader a, h2.art-postheader a:link
{
  text-align: left;
  text-decoration: none;
  color: #4D4D4D;
}

h2.art-postheader a:visited, h2.art-postheader a.visited
{

  color: #808080;
}


h2.art-postheader a:hover,  h2.art-postheader a.hovered
{

  text-decoration: underline;
  color: #757575;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.art-postheadericons,
.art-postheadericons a,
.art-postheadericons a:link,
.art-postheadericons a:visited,
.art-postheadericons a:hover
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  color: #878787;
}

.art-postheadericons
{
  padding: 1px;

}

.art-postheadericons a, .art-postheadericons a:link
{
  text-decoration: underline;
  color: #595959;
}

.art-postheadericons a:visited, .art-postheadericons a.visited
{

  color: #595959;
}

.art-postheadericons a:hover, .art-postheadericons a.hover
{

  text-decoration: none;
  color: #BE752C;
}
/* end PostIcons, PostHeaderIcons */

/* begin PostBullets */
.art-post ol, .art-post ul
{
  margin: 1em 0 1em 2em;
  padding: 0;
}

.art-post li
{
  font-size: 12px;
}

.art-post li ol, .art-post li ul
{
  margin: 0.5em 0 0.5em 2em;
  padding: 0;
}

.art-post li
{
  color: #404040; 

  padding: 0;
}


.art-post li
{
  padding: 0 0 0 13px;
}

.art-post ol>li
{
  background: none;
  padding-left: 0;/* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.art-post ul>li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 13px;/* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
  overflow-y: hidden;
}




.mceContentBody ul li, ol ul li
{
  background-image: url('images/postbullets.png');
  background-repeat: no-repeat;
  padding-left: 13px;
}
/* end PostBullets */

/* begin PostQuote */
.art-postcontent blockquote,
.art-postcontent blockquote a,
.art-postcontent blockquote a:link,
.art-postcontent blockquote a:visited,
.art-postcontent blockquote a:hover
{
  color: #333333;
  text-align: left;
}

.art-postcontent blockquote p
{
   margin: 5px 10px 10px 10px;
}

.art-postcontent blockquote
{
   border: solid 2px #B5B5B5;
  margin: 10px 10px 10px 50px;
  padding: 4px 4px 4px 28px;
  background-color: #E0E0E0;
  background-image: url('images/postquote.png');
  background-position: left top;
  background-repeat: no-repeat;/* makes blockquote not to align behind the image if they are in the same line */
  overflow: auto;
}



blockquote, .art-postcontent blockquote
{
  margin: 10px 10px 10px 50px !important;
  padding: 4px 4px 4px 28px !important;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.art-postfootericons,
.art-postfootericons a,
.art-postfootericons a:link,
.art-postfootericons a:visited,
.art-postfootericons a:hover
{
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
  font-style: italic;
  font-weight: normal;
  color: #878787;
}

.art-postfootericons
{
  padding: 1px;

}

.art-postfootericons a, .art-postfootericons a:link
{
  text-decoration: underline;
  color: #595959;
}

.art-postfootericons a:visited, .art-postfootericons a.visited
{

  color: #595959;
}

.art-postfootericons a:hover, .art-postfootericons a.hover
{

  text-decoration: none;
  color: #BE752C;
}
/* end PostIcons, PostFooterIcons */

/* begin Footer */
.art-footer
{
  position: relative;
  overflow: hidden;
  width: 100%;
}

.art-footer-b 
{
  position: absolute;
  left:5px;
  right:5px;
  bottom:0;
  height:5px;
  background-image: url('images/footer_b.png');
}

.art-footer-r, .art-footer-l
{
  position: absolute;
  height:5px;
  background-image: url('images/footer_s.png');
  bottom: 0;
}

.art-footer-l
{
  left: 0;
  width:5px;
}

.art-footer-r
{
  right: 0;
  width:10px;
  clip: rect(auto, auto, auto, 5px);
}

.art-footer-t
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 5px;
  background-image: url('images/footer_t.png');
  background-position: left bottom;
}

.art-footer-body
{
    position:relative;
    padding: 20px;
}

.art-footer-body .art-rss-tag-icon
{
  position: absolute;
  left:   6px;
  bottom:20px;
  z-index:1;
}

.art-rss-tag-icon
{
  display: block;
  background-image: url('images/rssicon.png');
  background-position: center right;
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
  cursor: default;
}

.art-footer-text p
{
  padding:0;
  margin:0;
}

.art-footer,
.art-footer a,
.art-footer a:link,
.art-footer a:visited,
.art-footer a:hover
{
    color: #1A1A1A;
    letter-spacing: 1px;
}

.art-footer-text
{
  min-height: 22px;
  padding: 0 10px 0 10px;

}

.art-footer,
.art-footer-text,
.art-footer p
{
  text-align: center;
}

.art-footer a,
.art-footer a:link
{
  color: #4A4A4A;
  text-decoration: underline;
}

.art-footer a:visited
{
  color: #4A4A4A;

}

.art-footer a:hover
{
  color: #636363;

  text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, 
.art-page-footer a,
.art-page-footer a:link,
.art-page-footer a:visited,
.art-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #666666;
}

.art-page-footer
{
  margin: 1em;
  text-align: center;
  text-decoration: none;
  color: #4D4D4D;
}
/* end PageFooter */

/* begin LayoutCell, sidebar1 */

.art-content-layout .art-sidebar1
{
  background-image: url('images/sidebar_bg.png');
  width: 200px;
}

/* end LayoutCell, sidebar1 */

/* begin LayoutCell, content */




.art-content-layout .art-content .art-block
{
  background-image: url('images/sidebar_bg.png');
}
/* end LayoutCell, content */



/*
** HTML elements
*/

/* BEGIN FCKEditor, CKEditor, TinyMCE modules support*/
body.art-body-nostyle, body.cke_show_borders, #tinymce body, #tinymce body.mceContentBody, body.mceContentBody, #edit-body
{
	background-image: none;
	background-color: #FFFFFF !important;
font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, Sans-Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
}
/* END FCKEditor, CKEditor modules support*/

table
{
	width: 100%;
}

ul li, .item-list ul li, .menu ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	list-style-type: none;
	list-style-image: none;
	margin: 0;
}

ul.arttabs_primary, ul.arttabs_secondary, .links, img.service-links
{
	padding-left: 0;
	margin-left: 0;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.links
{
	overflow: hidden;
}

ul.links li, .block ul
{
	display: inline;
	background-image: none;
	padding: 0;
}

ul.menu li a.active
{
	font-weight: bold;
}

#tinymce body ul, #tinymce body.mceContentBody ul, body.mceContentBody ul
{
  margin: 1em 0 1em 2em;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left: 0;
}

/* Fix fieldset for IE8 and FFox */
fieldset, fieldset legend
{
	display: block;
}

.breadcrumb
{
	display: block;
	padding-bottom: .7em;
}

#edit-name, #edit-pass, #edit-mail, #search-block-form input.form-text
{
	width: 90%;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background: #C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0 transparent;
	border-bottom: 0 transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0;
	text-align: left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.art-blockcontent
{
	width: 100% !important;	
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

.profile h3
{
	border-bottom: 0 none;
	margin-bottom: 1em;
}

/* BEGIN Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}
/* END Image Attach module fix */

/* BEGIN ImageField module fix */
img.imagefield
{
	margin: 0;
}
/* END ImageField module fix */

/* BEGIN Support User picture */
.picture, .comment .submitted
{
	clear: right;
	float: right;
	padding-left: 1em;
}
/* END Support User picture */

/* BEGIN Support Nodeblock module */
.art-block-body .art-postheader
{
	display: none;
}

.art-block-body .art-post
{
	margin: 0;
}
/* END Support Nodeblock module */

/* BEGIN Support floating panels in IE8 */
.panel-col-last
{
	clear: right;
}
/* END Support floating panels in IE8 */

/* BEGIN Support FCKEditor text alignment */
.rteleft
{
	text-align: left !important;
}

.rteright
{
	text-align: right !important;
}

.rtecenter
{
	text-align: center !important;
}

.rtejustify
{
	text-align: justify !important;
}
/* END Support FCKEditor text alignment */

/* BEGIN Set background color for sticky table */
table.sticky-header
{
	background-color: #FFFFFF !important;
}
/* END Set background color for sticky table */

/* BEGIN Set alignment for radio buttons */
input.form-radio, input.form-checkbox
{
	margin: 0 0 2px;
	vertical-align: baseline;
}
/* END Set alignment for radio buttons*/

/* BEGIN Move bradcrumb from separate post */
h2.with-tabs
{
	margin-top: 0;
	margin-bottom: 0;
}

.breadcrumb
{
	margin: 1em 0 0 0.7em;
}
/* END Move bradcrumb from separate post */

/* BEGIN Increasing distance between buttons */
span.art-button-wrapper
{
	margin: 0 5px 0 0;
}
/* END Increasing distance between buttons */

/* BEGIN Page validation fix */
.half-width
{
	width: 50%;
}

.third-width
{
	width: 33%;
}

.two-thirds-width
{
	width: 67%;
}
/* END Page validation fix */

/* BEGIN FckEditor bug with link disappearing fixed */
#switch_oFCK_1
{
	display: block !important;
}
/* END FckEditor bug with link disappearing fixed */

.art-postcontent .calendar-calendar ul li, .art-postcontent .calendar-calendar ol ul li,
.art-postcontent div.view div.views-admin-links ul li, .art-postcontent div.view div.views-admin-links ol ul li
{
  background-image: none;
  padding: 2px;
}

.date-heading h3
{
  text-align: center;
}

.art-postcontent ul.arttabs_primary li, .art-postcontent ul.arttabs_secondary li
{
  background-repeat: no-repeat;
  background-image: none;
}

tbody, tbody th, tr.even, tr.odd
{
	border: none;
}


