/*
Theme Name: polit_01
Description: polit_01, Free Drupal theme from FreeThemes4U.com.
Version: 1.0
Author: FreeThemes4U.com
Author URI: http://freethemes4you.com/
*/

/* begin Page */


body
{
	margin: 0 auto;
	padding: 0;
	background-color: #FCFCFC;
}

#art-main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}





#art-page-background-simple-gradient
{
	position: absolute;
	background-image: url('images/Page-BgSimpleGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width: 100%;
	height: 1px;
}

.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}


/* Image Assis module support */
body.img_assist
{
  background-color: #FCFCFC !important;
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:23px;
	min-height:23px;
}

.art-Sheet-body
{
	position: relative;
	z-index: 1;
	padding: 1px;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	width: 22px;
	height: 22px;
	background-image: url('images/Sheet-s.png');
}

.art-Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 11px, 11px, auto);
}

.art-Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 11px, 11px);
}

.art-Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(11px, 11px, auto, auto);
}

.art-Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(11px, auto, auto, 11px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	left: 11px;
	right: 11px;
	height: 22px;
	background-image: url('images/Sheet-h.png');
}

.art-Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 11px, auto);
}

.art-Sheet-bc
{
	bottom: 0;
	clip: rect(11px, auto, auto, auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	top: 11px;
	bottom: 11px;
	width: 22px;
	background-image: url('images/Sheet-v.png');
}

.art-Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 11px);
}

.art-Sheet-cl
{
	left:0;
	clip: rect(auto, 11px, auto, auto);
}

.art-Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 11px;
	left: 11px;
	right: 11px;
	bottom: 11px;
	background-color: #FFFFFF;
}


.art-Sheet
{
	margin-top: 10px !important;
}

#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	min-width:1000px;
}

/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.art-menu a, .art-menu a:link, .art-menu a:visited, .art-menu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.art-menu, .art-menu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.art-menu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.art-menu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.art-menu li li
{
	float: none;
}

.art-menu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.art-menu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.art-menu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.art-menu:after, .art-menu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.art-menu, .art-menu ul
{
	min-height: 0;
}

.art-menu ul
{
	background-image: url(images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.art-menu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}





div.art-nav-center
{
	position:relative;
	float:right; 
	right:50%;
	
}

ul.art-menu
{
	position:relative;
	float:left; 
	left:50%;
}

.firefox2 ul.art-menu
{
	float:none;
}


/* menu structure */

.art-menu
{
	padding: 4px 10px 4px 10px;
}

.art-nav
{
	position: relative;
	height: 34px;
	z-index: 100;
}


/* end Menu */

/* begin MenuItem */
.art-menu ul li
{
	clear: both;
}

.art-menu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 26px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 1px;
	margin-left: 1px;
}


.art-menu a .r, .art-menu a .l
{
	position:absolute;
	display: block;
	top:0;
	z-index:-1;
	height: 78px;
	background-image: url('images/MenuItem.png');
}

.art-menu a .l
{
	left:0;
	right:3px;
}

.art-menu a .r
{
	width:406px;
	right:0;
	clip: rect(auto, auto, auto, 403px);
}

.art-menu a .t 
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;
	color: #404040;
	padding: 0 9px;
	margin: 0 3px;
	line-height: 26px;
	text-align: center;
}

.art-menu a:hover .l, .art-menu a:hover .r
{
	top:-26px;
}

.art-menu li:hover>a .l, .art-menu li:hover>a .r
{
	top:-26px;
}

.art-menu li:hover a .l, .art-menu li:hover a .r
{
	top:-26px;
}
.art-menu a:hover .t
{
	color: #BDBDBD;
}

.art-menu li:hover a .t
{
	color: #BDBDBD;
}

.art-menu li:hover>a .t
{
	color: #BDBDBD;
}


.art-menu a.active .l, .art-menu a.active .r
{
	top: -52px;
}

.art-menu a.active .t
{
	color: #212121;
}


/* end MenuItem */

/* begin MenuSeparator */
.art-nav .art-menu-separator
{
	display: block;
	width: 1px;
	height: 26px;
	background-image: url('images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.art-menu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 20px;
	width: 180px;
	overflow:hidden;
	line-height: 20px;
	margin-right: auto;


	background-image: url('images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 0px;
	border-style: solid;
}

.art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.art-menu ul a, .art-menu ul a:link, .art-menu ul a:visited, .art-menu ul a:hover, .art-menu ul a:active, .art-nav ul.art-menu ul span, .art-nav ul.art-menu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 20px;
	color: #3A2003;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
text-decoration: none;
}

.art-menu ul ul a
{
	margin-left: auto;
}

.art-menu ul li a:hover
{
	color: #000000;
	background-position: 0 -20px;
}

.art-menu ul li:hover>a
{
	color: #000000;
	background-position: 0 -20px;
}

.art-nav .art-menu ul li a:hover span, .art-nav .art-menu ul li a:hover span span
{
	color: #000000;
}

.art-nav .art-menu ul li:hover>a span, .art-nav .art-menu ul li:hover>a span span
{
	color: #000000;
}


/* end MenuSubItem */

/* begin Header */
div.art-Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 998px;
	height: 130px;
}


div.art-Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 998px;
	height: 130px;
	background-image: url('images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.art-Logo
{
	display : block;
	position: absolute;
	left: 0px;
	top: 21px;
	width: 323px;
}

h1.art-Logo-name
{
	display: block;
	text-align: center;
}

h1.art-Logo-name, h1.art-Logo-name a, h1.art-Logo-name a:link, h1.art-Logo-name a:visited, h1.art-Logo-name a:hover
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
font-size: 40px;
font-style: normal;
font-weight: bold;
text-decoration: none;
font-variant: small-caps;
	padding:8px;
	margin:0;
	color: #0D0D0D !important;
}



div.art-Logo-image
{
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
width: 323px;
text-align: center;	
}

/* end Logo */

/* begin ContentLayout */
.art-contentLayout
{
	position: relative;
	margin-bottom: 0px;
	width: 998px;
}
/* end ContentLayout */

/* begin Box, Block */
.art-Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:5px;
	min-height:5px;
}

.art-Block-body
{
	position: relative;
	z-index: 1;
	padding: 7px;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	position:absolute;
	z-index:-1;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl
{
	width: 4px;
	height: 4px;
	background-image: url('images/Block-s.png');
}

.art-Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 2px, 2px, auto);
}

.art-Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 2px, 2px);
}

.art-Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(2px, 2px, auto, auto);
}

.art-Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(2px, auto, auto, 2px);
}

.art-Block-tc, .art-Block-bc
{
	left: 2px;
	right: 2px;
	height: 4px;
	background-image: url('images/Block-h.png');
}

.art-Block-tc
{
	top: 0;
	clip: rect(auto, auto, 2px, auto);
}

.art-Block-bc
{
	bottom: 0;
	clip: rect(2px, auto, auto, auto);
}

.art-Block-cr, .art-Block-cl
{
	top: 2px;
	bottom: 2px;
	width: 4px;
	background-image: url('images/Block-v.png');
}

.art-Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 2px);
}

.art-Block-cl
{
	left:0;
	clip: rect(auto, 2px, auto, auto);
}

.art-Block-cc
{
	position:absolute;
	z-index:-1;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-image: url('images/Block-c.png');
}


.art-Block
{
	margin: 7px;
}



#banner-1, #banner-2, #banner-3, #banner-4, #banner-5, #banner-6
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 7px;
	margin-bottom: 0px;
}

.art-BlockHeader .t
{
	height: 30px;
	color: #000000;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-variant: small-caps;
	white-space : nowrap;
	padding: 0 1px;
	line-height: 30px;	
}






.art-BlockHeader .t h2.subject
{
	height: 30px;
	color: #000000;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 14px;
font-variant: small-caps;
	white-space : nowrap;
	padding: 0 1px;
	line-height: 30px;
	top: 0;
	margin-bottom: 0;
	margin-top: 0;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:5px;
	min-height:5px;
}

.art-BlockContent-body
{
	position: relative;
	z-index: 1;
	padding: 7px;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl, .art-BlockContent-tc, .art-BlockContent-bc,.art-BlockContent-cr, .art-BlockContent-cl
{
	position:absolute;
	z-index:-1;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl
{
	width: 4px;
	height: 4px;
	background-image: url('images/BlockContent-s.png');
}

.art-BlockContent-tl
{
	top:0;
	left:0;
	clip: rect(auto, 2px, 2px, auto);
}

.art-BlockContent-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 2px, 2px);
}

.art-BlockContent-bl
{
	bottom: 0;
	left: 0;
	clip: rect(2px, 2px, auto, auto);
}

.art-BlockContent-br
{
	bottom: 0;
	right: 0;
	clip: rect(2px, auto, auto, 2px);
}

.art-BlockContent-tc, .art-BlockContent-bc
{
	left: 2px;
	right: 2px;
	height: 4px;
	background-image: url('images/BlockContent-h.png');
}

.art-BlockContent-tc
{
	top: 0;
	clip: rect(auto, auto, 2px, auto);
}

.art-BlockContent-bc
{
	bottom: 0;
	clip: rect(2px, auto, auto, auto);
}

.art-BlockContent-cr, .art-BlockContent-cl
{
	top: 2px;
	bottom: 2px;
	width: 4px;
	background-image: url('images/BlockContent-v.png');
}

.art-BlockContent-cr
{
	right:0;
	clip: rect(auto, auto, auto, 2px);
}

.art-BlockContent-cl
{
	left:0;
	clip: rect(auto, 2px, auto, auto);
}

.art-BlockContent-cc
{
	position:absolute;
	z-index:-1;
	top: 2px;
	left: 2px;
	right: 2px;
	bottom: 2px;
	background-color: #D9D9D9;
}


.art-BlockContent-body
{
	color:#1F1F1F;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 13px;
}

.art-BlockContent-body a:link
{
	color: #4D4D4D;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body a:visited, .art-BlockContent-body a.visited
{
	color: #808080;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-BlockContent-body a:hover, .art-BlockContent-body a.hover
{
	color: #C1690B;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}

.art-BlockContent-body ul
{
	list-style-type: none;
	color: #303030;
	margin:0;
	padding:0;
}

.art-BlockContent-body li
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 13px;
}

.art-BlockContent-body ul li
{
	padding:0px 0 0px 13px;
	background-image: url('images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}



.art-BlockContent-body .calendar-calendar td a:visited, .art-BlockContent-body .calendar-calendar td a.visited
{
	color: #4D4D4D;
}

.art-BlockContent-body  .links li
{
	float: left;
	padding: 0 0 0 1em;
	background-image: none;
}

.art-BlockContent-body .calendar-calendar td a:hover
{
	text-decoration:underline;
}

.art-BlockContent-body table td.mini a
{
	font-weight:normal;
}

.art-BlockContent-body table td div.mini-day-on a 
{
	text-decoration:underline;
}

.art-BlockContent-body .calendar-calendar td a
{
	text-decoration:none;
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:7px;
	min-height:7px;
}

.art-Post-body
{
	position: relative;
	z-index: 1;
	padding: 11px;
}

.art-Post-tr, .art-Post-tl, .art-Post-br, .art-Post-bl, .art-Post-tc, .art-Post-bc,.art-Post-cr, .art-Post-cl
{
	position:absolute;
	z-index:-1;
}

.art-Post-tr, .art-Post-tl, .art-Post-br, .art-Post-bl
{
	width: 6px;
	height: 6px;
	background-image: url('images/Post-s.png');
}

.art-Post-tl
{
	top:0;
	left:0;
	clip: rect(auto, 3px, 3px, auto);
}

.art-Post-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 3px, 3px);
}

.art-Post-bl
{
	bottom: 0;
	left: 0;
	clip: rect(3px, 3px, auto, auto);
}

.art-Post-br
{
	bottom: 0;
	right: 0;
	clip: rect(3px, auto, auto, 3px);
}

.art-Post-tc, .art-Post-bc
{
	left: 3px;
	right: 3px;
	height: 6px;
	background-image: url('images/Post-h.png');
}

.art-Post-tc
{
	top: 0;
	clip: rect(auto, auto, 3px, auto);
}

.art-Post-bc
{
	bottom: 0;
	clip: rect(3px, auto, auto, auto);
}

.art-Post-cr, .art-Post-cl
{
	top: 3px;
	bottom: 3px;
	width: 6px;
	background-image: url('images/Post-v.png');
}

.art-Post-cr
{
	right:0;
	clip: rect(auto, auto, auto, 3px);
}

.art-Post-cl
{
	left:0;
	clip: rect(auto, 3px, auto, auto);
}

.art-Post-cc
{
	position:absolute;
	z-index:-1;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	background-color: #F0F0F0;
}


.art-Post
{
	margin: 7px;
}

/* Start images */
a img
{
	border: 0;
}

.art-article img, img.art-article
{
	border: solid 1px #C7C7C7;
	margin: 1em;
}

.art-metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin: 2px;
}
/* Finish images */

/* Start tables */

.art-article table, table.art-article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.art-article table, table.art-article .art-article tr, .art-article th, .art-article td
{
	background-color:Transparent;
}

.art-article th, .art-article td
{
	padding: 2px;
	border: solid 1px #808080;
	vertical-align: top;
	text-align:left;
}

.art-article th
{
	text-align: center;
	vertical-align: middle;
	padding: 7px;
}

/* Finish tables */

pre
{
	overflow: auto;
	padding: 0.1em;
}



fieldset
{
	margin: 1em 0;
	padding: 1em;
	border: solid 1px #808080;
	width: 95%;
}

/* end Box, Post */

/* begin PostMetadata */
.art-PostMetadataHeader
{
	padding:1px;
	background-color: #DEDEDE;
}
/* end PostMetadata */

/* begin PostHeaderIcon */
.art-PostHeader
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
font-size: 31px;
text-align: center;
	color: #303030;
}

.art-PostHeader a, .art-PostHeader a:link, .art-PostHeader a:visited, .art-PostHeader a:hover
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
font-size: 31px;
text-align: center;
	margin:0;
	color: #303030;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.art-PostHeader a:link
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
text-decoration: none;
font-variant: small-caps;
  color: #9F5709;
}

.art-PostHeader a:visited, .art-PostHeader a.visited
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
text-decoration: none;
font-variant: small-caps;
  color: #C66C0C;
}

.art-PostHeader a:hover, .art-PostHeader a.hovered
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
text-decoration: none;
font-variant: small-caps;
  color: #F1830E;
}
/* end PostHeader */

/* begin PostIcons */
.art-PostHeaderIcons
{
	padding:1px;
}

.art-PostHeaderIcons, .art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-align: center;
	color: #383838;
}

.art-PostHeaderIcons a, .art-PostHeaderIcons a:link, .art-PostHeaderIcons a:visited, .art-PostHeaderIcons a:hover
{
	margin:0;
}

.art-PostHeaderIcons a:link
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-style: italic;
font-weight: normal;
text-decoration: none;
	color: #525252;
}

.art-PostHeaderIcons a:visited, .art-PostHeaderIcons a.visited
{
font-style: italic;
font-weight: normal;
text-decoration: none;
	color: #525252;
}

.art-PostHeaderIcons a:hover, .art-PostHeaderIcons a.hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-style: italic;
font-weight: normal;
text-decoration: underline;
	color: #1A1A1A;
}
/* end PostIcons */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 13px;
font-style: normal;
font-weight: normal;
  color: #000000;
}


.art-PostContent p 
{
	margin: 0.5em 0;
}

.art-PostContent, .art-PostContent p
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-style: normal;
font-weight: normal;
text-align: justify;
  color: #000000;
}

.art-PostContent
{
  margin:0;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #CF710C;
}

/* Adds special style to an unvisited link. */
a:link
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
  color: #CF710C;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #CF710C;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
  color: #F28D21;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
font-size: 33px;
  color: #525252;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
font-size: 31px;
  color: #6E6E6E;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
font-size: 20px;
  color: #525252;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
font-size: 18px;
  color: #262626;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
font-size: 15px;
  color: #262626;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
font-family: "Palatino Linotype", Georgia, "Times New Roman", Times, Serif;
font-size: 13px;
  color: #262626;
}
/* Finish Content headings Fonts & Colors  */


/* Image Assis module support */
body.img_assist
{
  color: #000000;
}

.art-PostContent .calendar-calendar ul li, .art-PostContent .calendar-calendar ol ul li,
.art-PostContent div.view div.views-admin-links ul li, .art-PostContent div.view div.views-admin-links ol ul li
{
	background-image: none;
	padding: 2px;
}

.date-heading h3
{
	text-align: center;
}

.art-PostContent ul.arttabs_primary li, .art-PostContent ul.arttabs_secondary li
{
	background-repeat: no-repeat;
	background-image: none;
}

/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #383838;
	margin:1em 0 1em 2em;
	padding:0;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 13px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.art-Post li
{
	padding:0px 0 0px 11px;
	line-height:1.2em;
}

.art-Post ol li, .art-Post ul ol li
{
	background: none;
	padding-left:0;
}

.art-Post ul li, .art-Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:11px;
}


/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote,
blockquote p,
.art-PostContent blockquote p
{
	color:#2E2E2E;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
}

blockquote,
.art-PostContent blockquote
{
		border:solid 1px #F6AD60; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 38px;
	background-color:#FAD5AD;
	background-image:url('images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */


blockquote, .art-PostContent blockquote
{
	margin:10px 10px 10px 50px !important;
	padding:5px 5px 5px 38px !important;
}

/* end PostQuote */

/* begin PostIcons */
.art-PostFooterIcons
{
	padding:1px;
}

.art-PostFooterIcons, .art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: normal;
text-align: center;
	color: #383838;
}

.art-PostFooterIcons a, .art-PostFooterIcons a:link, .art-PostFooterIcons a:visited, .art-PostFooterIcons a:hover
{
	margin:0;
}

.art-PostFooterIcons a:link
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-style: italic;
font-weight: normal;
text-decoration: none;
	color: #525252;
}

.art-PostFooterIcons a:visited, .art-PostFooterIcons a.visited
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-style: italic;
font-weight: normal;
text-decoration: none;
	color: #525252;
}

.art-PostFooterIcons a:hover, .art-PostFooterIcons a.hover
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-style: italic;
font-weight: normal;
text-decoration: underline;
	color: #1A1A1A;
}
/* end PostIcons */

/* begin Button */
.art-button-wrapper .art-button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:28px;
	margin:0 !important;
	padding:0 !important;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.art-button-wrapper
{
	display:inline-block;
	position:relative;
	height: 28px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	z-index:0;
}

.firefox2 .art-button-wrapper
{
	display:block;
	float:left;
}

.art-button-wrapper .art-button
{
	display:block;
	height: 28px;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
	white-space: nowrap;
	text-align: left;
	padding: 0 11px !important;
	line-height: 28px;
	text-decoration: none !important;
	color: #EBEBEB !important;
}

input, select
{
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
font-style: normal;
font-weight: bold;
}

.art-button-wrapper.hover .art-button, .art-button:hover
{
	color: #FAD5AD !important;
	text-decoration: none !important;
}

.art-button-wrapper.active .art-button
{
	color: #F2F2F2 !important;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 84px;
	background-image: url('images/Button.png');
}

.art-button-wrapper .l
{
	left:0;
	right:14px;
}

.art-button-wrapper .r
{
	width:421px;
	right:0;
	clip: rect(auto, auto, auto, 407px);
}

.art-button-wrapper.hover .l, .art-button-wrapper.hover .r
{
	top: -28px;
}

.art-button-wrapper.active .l, .art-button-wrapper.active .r
{
	top: -56px;
}


/* end Button */

/* begin Footer */
.art-Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 998px;
	margin: 5px auto 0px auto;
}

.art-Footer .art-Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}

.art-Footer .art-Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	background-image: url('images/Footer.png');
	width: 998px;
	height: 150px;
	bottom:0;
	left:0;
}


.art-rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 25px;
	width: 25px;
    cursor: default;
}




.art-Footer .art-Footer-text p
{
	margin: 0;
}

.art-Footer .art-Footer-text
{
	display:inline-block;
	color:#454545;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
font-size: 12px;
}

.art-Footer .art-Footer-text a:link
{
	text-decoration: none;
	color: #BC660B;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-Footer .art-Footer-text a:visited
{
	text-decoration: none;
	color: #BC660B;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: none;
}

.art-Footer .art-Footer-text a:hover
{
	text-decoration: none;
	color: #EC810E;
font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
text-decoration: underline;
}
/* end Footer */

/* begin PageFooter */
.art-page-footer, .art-page-footer a, .art-page-footer a:link, .art-page-footer a:visited, .art-page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#A8A8A8;
}

.art-page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#A8A8A8;
}
/* end PageFooter */

/* begin LayoutCell */
.art-contentLayout .art-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 199px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 598px;
}
.art-contentLayout .art-content-sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 797px;
}
.art-contentLayout .art-content-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 797px;
}
.art-contentLayout .art-content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 996px;
}
/* end LayoutCell */

/* begin LayoutCell */
.art-contentLayout .art-sidebar2
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 199px;
}
/* end LayoutCell */



/*
** HTML elements
*/

body.art-body-nostyle
{
	background: none;
}

ul li, .item-list ul li, li.expanded, li.leaf, li.collapsed
{
	text-align: left;
	display: block;
	list-style-type: none;
	list-style-image: none;	
}

.arttabs_primary, .arttabs_secondary, .links, .service-links img, service-links img
{
	padding-left: 0px;
	margin: 0px;
}

ul.arttabs_primary li, ul.arttabs_secondary li
{
	background-image: none;
	float: left;
	display: inline;
	padding: 0;	
}

ul.arttabs_primary li a, ul.arttabs_secondary li a
{
	margin: 0 5px;
}

ul.links li
{
	display: inline;
	background-image: none;
}

li.messages
{
	margin: 5px 0;
}

#user-login-form 
{
	text-align: left;
}

#user-login-form ul li
{
	background-image: none;
	padding-left:0;
}

ul.menu li a.active
{
	font-weight: bold;
}

fieldset legend 
{
	/* Fix disappearing legend in FFox */
	display: block;
}

.breadcrumb 
{
	display: block; 
	padding-bottom: .7em;
}

#edit-name, #edit-pass, #edit-mail, #search-block-form input.form-text
{
	width: 90%;
}

#preview-args
{
	width: auto;
}

.tags
{
	float: left;
}

.messages
{
	padding: 5px;
	margin: 5px 0;
}

.status
{
	border: 1px solid #090;
	background:#C9FBC8;
	margin: 5px 0;
}

tr.even, tr.odd
{
	background-color: transparent;
}

.sticky-table
{
	width: 100%;
}

#forum .links li
{
	float: none;
	clear: both;
}

#forum table
{
	width: auto;
	margin-top: 15px;
}

#forum td.container
{
	padding-top: 15px;
	border-left: none;
	border-right: none;
}

#forum td.active
{
	background-color: transparent;
}

#forum td.forum, #forum td.topics, #forum td.posts, #forum td.last-reply
{
	padding-top: 4px;
	padding-bottom: 4px;
}

#forum td.container
{
	font-weight: bold;
}

#forum td.active
{
	background-color: transparent;
}

.forum-topic-navigation
{
	border-top: 0px transparent;
	border-bottom: 0px transparent;
}

.forum-topic-navigation .topic-previous
{
	text-align: left;
	float: left;
}

.forum-topic-navigation .topic-next
{
	text-align: right;
	float: right;
}

.read_more
{
	margin: 5px 0px;
	text-align:left;
}

.sticky-table H2
{
	font-size: 10px;
}

#footer
{
	text-align: center;
}

.Footer .Footer-inner
{
	float: left;
	width: 100%;
}

.BlockContent
{
	width: 100% !important;	
}

/* Image Attach module fix */
img.image
{
	margin: 0;
}

.image-attach-teaser
{
	width: auto;
}

/* ImageField module fix */
img.imagefield
{
	margin: 0;
}

.filefield-upload .art-button-wrapper
{
	top: 10px;
}

.uc_out_of_stock_throbbing
{
	position: absolute;
	z-index: 1;
	top: 16%;
	left: 3px;
	margin: 0;
	padding: 0;
}

/* Support User picture */
.picture, .comment .submitted
{
	clear:right;
	float:right;
	padding-left:1em;
}

.profile h3
{
	border-bottom:0 none;
	margin-bottom:1em;
}

/* Support Nodeblock module */
.art-Block-body .art-PostHeader
{
	display: none;
}

.art-Block-body .art-Post
{
	margin: 0;
}