/* begin Page */

/* Generated with Artisteer version 2.3.0.21098, file checksum is 9EB17BBA. */

img
{
	filter:expression(fixPNG(this));
}
/* end Page */

/* begin Box, Sheet */
.art-Sheet, .art-Sheet-body
{
	zoom:1;
}

.art-Sheet-body
{
	position:static;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl, .art-Sheet-tc, .art-Sheet-bc,.art-Sheet-cr, .art-Sheet-cl
{
	font-size: 1px;
	background: none;
}

.art-Sheet-tr, .art-Sheet-tl, .art-Sheet-br, .art-Sheet-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-s.png',sizingMethod='scale')");
}

.art-Sheet-tl
{
	clip: rect(auto 11px 11px auto);
}

.art-Sheet-tr
{
	left: expression(this.parentNode.offsetWidth-22+'px');
	clip: rect(auto auto 11px 11px);
}

.art-Sheet-bl
{
	top: expression(this.parentNode.offsetHeight-22+'px');
	clip: rect(11px 11px auto auto);
}

.art-Sheet-br
{
	top: expression(this.parentNode.offsetHeight-22+'px');
	left: expression(this.parentNode.offsetWidth-22+'px');
	clip: rect(11px auto auto 11px);
}

.art-Sheet-tc, .art-Sheet-bc
{
	width: expression(this.parentNode.offsetWidth-22+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-h.png',sizingMethod='scale')");
}

.art-Sheet-tc
{
	clip: rect(auto auto 11px auto);
}

.art-Sheet-bc
{
	top: expression(this.parentNode.offsetHeight-22+'px');
	clip: rect(11px auto auto auto);
}

.art-Sheet-cr, .art-Sheet-cl
{
	height: expression(this.parentNode.offsetHeight-22+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Sheet-v.png',sizingMethod='scale')");
}

.art-Sheet-cr
{
	left: expression(this.parentNode.offsetWidth-22+'px');
	clip: rect(auto auto auto 11px);
}

.art-Sheet-cl
{
	clip: rect(auto 11px auto auto);
}

.art-Sheet-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-22+'px');
	height: expression(this.parentNode.offsetHeight-22+'px');
	background-color: #FFFFFF;
}
#art-page-background-simple-gradient, #art-page-background-gradient, #art-page-background-glare
{
	width:expression(document.body.clientWidth > 1000 ? "100%" : "1000px");
}
/* end Box, Sheet */

/* begin Menu */

.art-menu ul
{
	height: 1%;
	width:1px;
}

.art-menu, .art-menu ul
{
	height: 1%;
}

.art-menu li.art-menuhover
{
	z-index: 10000;
}

.art-menu .art-menuhoverUL
{
	visibility: visible;
}

.art-menu .art-menuhoverUL
{
	top: 100%;
	left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
	top: 0;
	left: 100%;
}

.art-menu ul a
{
	height: 1%;
}

.art-menu li li
{
	float: left;
	width: 100%;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
	top: 5px;
	left: 100%;
}

.art-menu, .art-menu ul
{
	height: 1%;
}

.art-menu li.art-menuhover
{
	z-index: 10000;
}

.art-menu .art-menuhoverUL
{
	visibility: visible;
}

.art-menu .art-menuhoverUL
{
	top: 100%;
	left: 0;
}

.art-menu .art-menuhoverUL .art-menuhoverUL
{
	top: 0;
	left: 100%;
}

.art-menu ul a
{
	height: 1%;
}

.art-menu li li
{
	float: left;
	width: 100%;
}

.art-nav
{
	zoom: 1;
}

/* end Menu */

/* begin MenuItem */
.art-menu a
{
	float:left;
}

.art-menu a:hover
{
	visibility:visible;
}

.art-menu a .r, .art-menu a .l
{
	font-size:1px;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuItem.png',sizingMethod='crop')");
}

.art-menu a .r
{
	left: expression(this.parentNode.offsetWidth-406+'px');
	clip: rect(auto auto auto 403px);
}

.art-menu a .l
{
	width: expression(this.parentNode.offsetWidth-3+'px');
}

.art-menuhover .art-menuhoverA .t
{
	color: #BDBDBD;
}

.art-menuhover .art-menuhoverA .l, .art-menuhover .art-menuhoverA .r
{
	top: -26px;
}
/* end MenuItem */

/* begin MenuSeparator */
.art-nav .art-menu-separator
{
	font-size: 1px;
	zoom:1;
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/MenuSeparator.png',sizingMethod='crop')");
}
/* end MenuSeparator */

/* begin MenuSubItem */

.art-menu ul a
{
	color: #3A2003 !important;
}

.art-menu ul a:hover {
	color: #000000 !important;
}	

.art-menu ul .art-menuhover .art-menuhoverA
{
	color: #000000 !important;
	background-position: 0 -20px;
}

.art-nav .art-menu ul a:hover span, .art-nav .art-menu ul a:hover span span
{
	color: #000000 !important;
}	

.art-nav .art-menu ul .art-menuhover .art-menuhoverA span, .art-nav .art-menu ul .art-menuhover .art-menuhoverA span span
{
	color: #000000 !important;
}

/* end MenuSubItem */

/* begin Box, Block */
.art-Block, .art-Block-body
{
	zoom:1;
}

.art-Block-body
{
	position:static;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl, .art-Block-tc, .art-Block-bc,.art-Block-cr, .art-Block-cl
{
	font-size: 1px;
	background: none;
}

.art-Block-tr, .art-Block-tl, .art-Block-br, .art-Block-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-s.png',sizingMethod='crop')");
}

.art-Block-tl
{
	clip: rect(auto 2px 2px auto);
}

.art-Block-tr
{
	left: expression(this.parentNode.offsetWidth-4+'px');
	clip: rect(auto auto 2px 2px);
}

.art-Block-bl
{
	top: expression(this.parentNode.offsetHeight-4+'px');
	clip: rect(2px 2px auto auto);
}

.art-Block-br
{
	top: expression(this.parentNode.offsetHeight-4+'px');
	left: expression(this.parentNode.offsetWidth-4+'px');
	clip: rect(2px auto auto 2px);
}

.art-Block-tc, .art-Block-bc
{
	width: expression(this.parentNode.offsetWidth-4+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-h.png',sizingMethod='crop')");
}

.art-Block-tc
{
	clip: rect(auto auto 2px auto);
}

.art-Block-bc
{
	top: expression(this.parentNode.offsetHeight-4+'px');
	clip: rect(2px auto auto auto);
}

.art-Block-cr, .art-Block-cl
{
	height: expression(this.parentNode.offsetHeight-4+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Block-v.png',sizingMethod='crop')");
}

.art-Block-cr
{
	left: expression(this.parentNode.offsetWidth-4+'px');
	clip: rect(auto auto auto 2px);
}

.art-Block-cl
{
	clip: rect(auto 2px auto auto);
}

.art-Block-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-4+'px');
	height: expression(this.parentNode.offsetHeight-4+'px');
}
/* end Box, Block */

/* begin BlockHeader */
.art-BlockHeader, .art-BlockHeader
{
	font-size: 1px;
}

.art-header-tag-icon
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockHeaderIcon.png',sizingMethod='crop')");
}

/* end BlockHeader */

/* begin Box, BlockContent */
.art-BlockContent, .art-BlockContent-body
{
	zoom:1;
}

.art-BlockContent-body
{
	position:static;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl, .art-BlockContent-tc, .art-BlockContent-bc,.art-BlockContent-cr, .art-BlockContent-cl
{
	font-size: 1px;
	background: none;
}

.art-BlockContent-tr, .art-BlockContent-tl, .art-BlockContent-br, .art-BlockContent-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContent-s.png',sizingMethod='scale')");
}

.art-BlockContent-tl
{
	clip: rect(auto 2px 2px auto);
}

.art-BlockContent-tr
{
	left: expression(this.parentNode.offsetWidth-4+'px');
	clip: rect(auto auto 2px 2px);
}

.art-BlockContent-bl
{
	top: expression(this.parentNode.offsetHeight-4+'px');
	clip: rect(2px 2px auto auto);
}

.art-BlockContent-br
{
	top: expression(this.parentNode.offsetHeight-4+'px');
	left: expression(this.parentNode.offsetWidth-4+'px');
	clip: rect(2px auto auto 2px);
}

.art-BlockContent-tc, .art-BlockContent-bc
{
	width: expression(this.parentNode.offsetWidth-4+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContent-h.png',sizingMethod='scale')");
}

.art-BlockContent-tc
{
	clip: rect(auto auto 2px auto);
}

.art-BlockContent-bc
{
	top: expression(this.parentNode.offsetHeight-4+'px');
	clip: rect(2px auto auto auto);
}

.art-BlockContent-cr, .art-BlockContent-cl
{
	height: expression(this.parentNode.offsetHeight-4+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContent-v.png',sizingMethod='scale')");
}

.art-BlockContent-cr
{
	left: expression(this.parentNode.offsetWidth-4+'px');
	clip: rect(auto auto auto 2px);
}

.art-BlockContent-cl
{
	clip: rect(auto 2px auto auto);
}

.art-BlockContent-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-4+'px');
	height: expression(this.parentNode.offsetHeight-4+'px');
	background-color: #D9D9D9;
}

.art-BlockContent-body ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/BlockContentBullets.png',sizingMethod='crop')");
}

/* end Box, BlockContent */

/* begin Box, Post */
.art-Post, .art-Post-body
{
	zoom:1;
}

.art-Post-body
{
	position:static;
}

.art-Post-tr, .art-Post-tl, .art-Post-br, .art-Post-bl, .art-Post-tc, .art-Post-bc,.art-Post-cr, .art-Post-cl
{
	font-size: 1px;
	background: none;
}

.art-Post-tr, .art-Post-tl, .art-Post-br, .art-Post-bl
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Post-s.png',sizingMethod='scale')");
}

.art-Post-tl
{
	clip: rect(auto 3px 3px auto);
}

.art-Post-tr
{
	left: expression(this.parentNode.offsetWidth-6+'px');
	clip: rect(auto auto 3px 3px);
}

.art-Post-bl
{
	top: expression(this.parentNode.offsetHeight-6+'px');
	clip: rect(3px 3px auto auto);
}

.art-Post-br
{
	top: expression(this.parentNode.offsetHeight-6+'px');
	left: expression(this.parentNode.offsetWidth-6+'px');
	clip: rect(3px auto auto 3px);
}

.art-Post-tc, .art-Post-bc
{
	width: expression(this.parentNode.offsetWidth-6+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Post-h.png',sizingMethod='scale')");
}

.art-Post-tc
{
	clip: rect(auto auto 3px auto);
}

.art-Post-bc
{
	top: expression(this.parentNode.offsetHeight-6+'px');
	clip: rect(3px auto auto auto);
}

.art-Post-cr, .art-Post-cl
{
	height: expression(this.parentNode.offsetHeight-6+'px');
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Post-v.png',sizingMethod='scale')");
}

.art-Post-cr
{
	left: expression(this.parentNode.offsetWidth-6+'px');
	clip: rect(auto auto auto 3px);
}

.art-Post-cl
{
	clip: rect(auto 3px auto auto);
}

.art-Post-cc
{
	font-size: 1px;
	width: expression(this.parentNode.offsetWidth-6+'px');
	height: expression(this.parentNode.offsetHeight-6+'px');
	background-color: #F0F0F0;
}
/* end Box, Post */

/* begin PostContent */
h1
{
  margin: 0.67em 0;
}

h2
{
  margin: 0.8em 0;
}

h3
{
  margin: 1em 0;
}

h4
{
  margin: 1.25em 0;
}

h5
{
  margin: 1.67em 0;
}

h6
{
  margin: 2.33em 0;
}
/* end PostContent */

/* begin PostBullets */
.art-Post ul li, .art-Post ol ul li
{
	height:1%;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostBullets.png',sizingMethod='crop')");
}

.art-Post ul ol li
{
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}
/* end PostBullets */

/* begin PostQuote */
blockquote,
.art-PostContent blockquote
{
	height:1%;
	background-image: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/PostQuote.png',sizingMethod='crop')");
}
/* end PostQuote */

/* begin Button */
.art-button-wrapper, .art-button-wrapper .l, .art-button-wrapper .r
{
	font-size: 1px;
}

.art-button-wrapper .art-button
{
	float:left;
}

.art-button-wrapper .l, .art-button-wrapper .r
{
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Button.png',sizingMethod='crop')");
}

.art-button-wrapper .r
{
	left: expression(this.parentNode.offsetWidth-421+'px');
	clip: rect(auto auto auto 407px);
}

.art-button-wrapper .l
{
	width: expression(this.parentNode.offsetWidth-14+'px');
}

/* end Button */

/* begin Footer */
.art-Footer .art-Footer-background
{
	top: expression(this.parentNode.offsetHeight-150+'px');
	background: none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/Footer.png',sizingMethod='crop')");
	zoom: 1;
	font-size:1px;
}

.art-rss-tag-icon
{
	zoom:1;
	font-size:1px;
	background:none;
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + GetStyleUrl()+"images/rssIcon.png',sizingMethod='crop')");
}

/* end Footer */



#user-login-form ul li, ul.arttabs_primary li, ul.arttabs_secondary li
{
	behavior: expression(this.runtimeStyle.filter?'':this.runtimeStyle.filter="");
}

.BlockContent
{
	width: 100% !important;	
}
